<div class="section-container">

    <h1>Lista de Usuários</h1>

    <ul class="user-list">
      <% userList.forEach(user => { %>
        <li>
          <strong>Nome:</strong> <%= user.Nome %><br>
          <strong>CPF:</strong> <%= user.CPF %><br>
          <strong>Data de Nascimento:</strong> <%= user.DataDeNascimento %><br>
          <strong>Email:</strong> <%= user.Email %><br>
        </li>
      <% }); %>
    </ul>
    
  </div>